{% extends 'main.html' %}

{% block all_category %}
    <div class="icon-bar five-up">
    {% for category in all_category %}
        <a class="item" href="/content/category/{{ category.id }}/">{{ category.category_title }}</a>
    {% endfor %}
    </div>
{% endblock %}

{% block head_h %}
    <ul class="side-nav panel">
    {% for head in heads %}
           <li><a href="/content/category/head/{{ head.id }}/">{{ head.head_title }}</a></li>
    {% endfor %}
    </ul>
{% endblock %}

{% block body_h %}
    {% for body in bodys %}
           <li><p class="panel">{{ body.body_text }}</p></li>
    {% endfor %}
{% endblock %}

{% block head_form_h %}
    <form action="/add/add_head_h/{{ head.id }}/" method="post">
    {% csrf_token %}
      <div class="row">
        <div class="large-12 columns">
          <div class="row collapse">
            <div class="small-8 large-9 columns">
              {{ head_form.head_title }}
            </div>
            <div class="small-4 large-3 columns">
              <input class="button postfix" type="submit" value="Add">
            </div>
          </div>
        </div>
      </div>
    </form>
{% endblock %}

{% block body_text_form_h %}
    <form action="/add/add_body_text/{{ head.id }}/" method="post">
    {% csrf_token %}
      <div class="row">
        <div class="large-12 columns">
          <div class="row collapse">
            <div class="small-12 large-12 columns">
              {{ body_text_form.body_text }}
            </div>
            <div class="small-4 large-3 columns">
              <input class="button postfix" type="submit" value="Add">
            </div>
          </div>
        </div>
      </div>
    </form>
{% endblock %}